<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% if page == 'login' %}Login - {% elif page == 'register' %}Register - {% endif %}
        FeinBuddy
    </title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Fin Buddy</h1>
        
        <pre class="tagline">Tuition.   Dues.   Savings.<br>Managed.</pre>

        <a href="{{url_for('auth.login')}}" class="btn-main">
            Get Started &rarr;
        </a>

        <div class="footer">
            <pre>Built for the CSE24 HackJam<br>By BUETIANS for EVERYONE</pre>
        </div>
    </div>
</body>
</html>